.header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 10px;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
    margin-right: 10px;
}
.link {
    text-decoration: none;
}

.link > p {
    cursor: pointer;
    padding: 5px;
    font-weight: 900;
    font-size: 1.15rem;
    color: #ff7779 !important;
    transition: all .2s ease-in-out;
}
.header__right > p:hover {
    transform: scale(1.15);
}

.search {
    cursor : pointer;
    color: #ff7779 !important;  
}
.avatar {
    cursor: pointer;
}
